<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>QuienesSomos</title>
</head>
<body>
	<header>
  <div class="contenedor">
      <div id="marca">
           <h1><span class="resaltado">DINO</span> APP</h1>
      </div>
      <nav>
         <ul>
            <li ><a href=""></a></li>
            <li class="actual"><a href="quienessomos.html">Nosotros</a></li>
            <li ><a href=""></a></li>
            <li ><a href=""></a></li>
            <li ><a href=""></a></li>
            <li ><a href=""></a></li>
         </ul>
      </nav>
  </div>
</header>

<h1>Nosotros</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos reprehenderit magni doloribus rem sit facilis nulla, debitis maiores quam vitae pariatur quidem fugit, perspiciatis magnam ipsam minima distinctio explicabo nemo.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, pariatur iure tempora temporibus! Cupiditate esse eligendi voluptate corporis provident magni a harum voluptates cumque earum, nobis asperiores facilis excepturi labore.</p>
<p class="oscuro">


Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati amet omnis natus nemo exercitationem, officia iste, vitae veniam ut modi aut alias non ipsum fugit consectetur atque, molestiae ullam hic!

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati architecto amet nihil ipsum expedita eaque natus maiores, sequi voluptate quasi vero perferendis optio error, consequatur, commodi laborum magni quibusdam rerum.

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus quo rem similique reiciendis culpa nostrum molestias, debitis iure voluptate. Delectus, debitis blanditiis ab consequatur odio. Quaerat iste officia eos.
</p>

<img src="" width="700">
</article>
<aside id="lateral">
  <div class="oscuro">
    <h3>¿Que hacemos?</h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nulla, eius modi illo architecto. Ratione dolore dolor, molestiae, ipsa nihil aliquam aperiam amet eos totam quidem, expedita, optio minima ipsum.
</p>
  </div>
</aside>

</div>
</section>

<footer>
  <p>DINO-APP, Copyright &copy; 201</p>
</footer>
</body>
</html>