<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quienes somos</title>
 <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
 <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="../../static/css/bootstrap.css">
  <link rel="stylesheet" href="../../static/css/estilos.css">
<link href="https://file.myfontastic.com/t5tNwfwUapz4yDzK3B6sfe/icons.css" rel="stylesheet">
</head>
<body>
 <header class="header">
 	<div class="contenedor">
 		<h1 class="logo">DINO-APP</h1>
 		<span class="icon-menu"></span>
 		<nav class="nav">
 			<ul class="menu">
 				<li class="menu__item"><a class="menu__link" href="">inicio</a></li>
 				<li class="menu__item"><a class="menu__link" href="">Catalogos</a></li>
 				<li class="menu__item"><a class="menu__link" href="quienessomos.html">Quienes somos</a></li>
 				<li class="menu__item"><a class="menu__link" href="">graficas</a></li>
 			</ul>
 		</nav>
 	</div>
 </header>
</body>
</html>