<!--<?php 
       date_default_timezone_set("America/Mexico_City");
       echo date("d");
       ?>-->

<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>
      Pedido </title>

    <meta name="keywords" content="">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">
    <script src="js/respond.min.js"></script>
</head>
<body>
  <div class="navbar navbar-default yamm" role="navigation" id="navbar">
  <div class="container">
  <div class="navbar-header">
   <div class="navbar-collapse collapse" id="navigation">
   <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    
                </div>

                <div class="col-md-9" id="checkout">

                    <div class="box">
                          
                            <h1 align= "center">Información del pedido </h1>
                            <ul class="nav nav-pills nav-justified">
                                
                                <ul class="nav nav-pills nav-justified">
                                <li><a href="infodelpedido.html"><i class="fa fa-user"></i><br>Datos</a>
                                </li>
                               <li class="active"><a href="pago.html"><i class="fa fa-money"></i><br>Método de pago</a>
                                </li>
                                </li>
                                 <li><a href="infodelpedido.html"><i class="fa fa-eye"></i><br>Confirmación del pedido</a>
                               
                                </li>
                                </ul>

                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="box payment-method">

                                            <h4>Paypal</h4>

                                            <p>
                                                
                           <img src="img/paypal.png"   width="150" height="150"> 


                                            </p>

                                            <div class="box-footer text-center">

                                                <input type="radio" name="payment" value="payment1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="box payment-method">

                                            <h4>Debito o Crédito</h4>

                                            <p>
                                 <img src="img/visa.png"   width="170" height="150"> 
                                            </p>

                                            <div class="box-footer text-center">

                                                <input type="radio" name="payment" value="payment2">
                                            </div>
                                        </div>
                                        <!-- fecha del pedido     -->
                                    </div>

                                   
                                    </div>
                                </div>
                                <!-- /.row -->

                            </div>

                            <!-- /.content -->

                            <div class="box-footer">
                                <div class="pull-left">
                                <a href="shop.php" class="btn btn-default"><i class="fa fa-chevron-left"></i>Cancelar</a>
                                </div>
                                <div class="pull-right">
                                <a href="confirmacionpedido.html" class="btn btn-default"><i class="fa fa-chevron-right"></i> Continuar con la compra </a>
                                 <!--   <button type="submit" class="btn btn-primary">Continuar con la compra<i class="fa fa-chevron-right" -->  


                                        ></i>
                                    </button>



                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->


                </div> <div class="col-md-3 col-sm-6">
                    </form>

                        <hr>

                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
       

                    </p>
                </div>
            </div>
        </div>
      




    </div>

    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>






</body>

</html>