
<html>
<head>
<title>Analytics</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body  bgcolor="#F1F1F1">
<h1><center>Analytics</center></h1>

	<div>
		<object type="text/html" data="http://localhost/Grafica/samples/CostoApps.php" width="650" height="480"></object>
		<object type="text/html" data="http://localhost/Grafica/samples/costos.php" width="650" height="480"></object>
	</div>

	<div>
		<object type="text/html" data="http://localhost/Grafica/samples/usuarios.php" width="650" height="480"></object>
		<object type="text/html" data="http://localhost/Grafica/samples/line.php" width="650" height="480"></object>
	</div>

		
</body>
</html>
	