<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Catalogo</title>
        <meta name="description" content="Esta plantilla forma parte de la sección catalogo de plantillas de la página web">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="img/dino.png">
        

        <!--CSS-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/fontawesome-all.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/default.css">
        <link rel="stylesheet" href="css/nice-select.css">
        <link rel="stylesheet" href="css/meanmenu.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
       

       <header>
           <div class="header-area d-flex align-items-center">
               <div class="container pos">
                   <div class="row align-items-center">
                       <div class="col-xl-5 col-lg-5 col-md-12 static">
                           <div class="main-menu d-none d-md-block">
                               <nav>
                                   <ul>
                                       <li><a href="#">Home <i class="fas fa-angle-down"></i></a>
                                           <ul class="submenu">
                                               <li><a href="#">Home Style 1</a></li>
                                               <li><a href="#">Home Style 2</a>
                                                    <ul class="submenu">
                                                        <li><a href="#">Home Style 1</a></li>
                                                        <li><a href="#">Home Style 2</a></li>
                                                        <li><a href="#">Home Style 3</a>
                                                            <ul class="submenu">
                                                                <li><a href="#">Home Style 1</a></li>
                                                                <li><a href="#">Home Style 2</a></li>
                                                                <li><a href="#">Home Style 3</a></li>
                                                                <li><a href="#">Home Style 4</a></li>
                                                                <li><a href="#">Home Style 5</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Home Style 4</a></li>
                                                        <li><a href="#">Home Style 5</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Home Style 3</a></li>
                                                <li><a href="#">Home Style 4</a></li>
                                                <li><a href="#">Home Style 5</a></li>
                                            </ul>
                                        </li>
                                       <li><a href="">Feature<i class="fas fa-angle-down"></i></a>
                                            <div class="mega-menu">
                                                <ul>
                                                    <li class="mega-title"><a href="#">Mega Title</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                </ul>
                                                 <ul>
                                                    <li class="mega-title"><a href="#">Mega Title</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                </ul>
                                                 <ul>
                                                    <li class="mega-title"><a href="#">Mega Title</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                </ul>
                                            </div>
                                       </li>
                                       <li class="static"><a href="#">Blogs<i class="fas fa-angle-down"></i></a>
                                            <div class="mega-menu mega-full">
                                                <ul>
                                                    <li class="mega-title"><a href="#">Mega Title</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                </ul>
                                                 <ul>
                                                    <li class="mega-title"><a href="#">Mega Title</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                </ul>
                                                 <ul>
                                                    <li class="mega-title"><a href="#">Mega Title</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                    <li><a href="#">Full width</a></li>
                                                </ul>
                                            </div>
                                       </li>
                                       <li><a href="">About us</a></li>
                                   </ul>
                               </nav>
                           </div>
                           <div class="mobile-menu d-md-none">
                               <nav id="mobile-menu">
                                  <ul>
                                      <li><a href="#">Home <i class="fas fa-angle-down"></i></a>
                                           <ul class="submenu">
                                               <li><a href="#">Home Style 1</a></li>
                                               <li><a href="#">Home Style 2</a>
                                                    <ul class="submenu">
                                                        <li><a href="#">Home Style 1</a></li>
                                                        <li><a href="#">Home Style 2</a></li>
                                                        <li><a href="#">Home Style 3</a>
                                                            <ul class="submenu">
                                                                <li><a href="#">Home Style 1</a></li>
                                                                <li><a href="#">Home Style 2</a></li>
                                                                <li><a href="#">Home Style 3</a></li>
                                                                <li><a href="#">Home Style 4</a></li>
                                                                <li><a href="#">Home Style 5</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Home Style 4</a></li>
                                                        <li><a href="#">Home Style 5</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Home Style 3</a></li>
                                                <li><a href="#">Home Style 4</a></li>
                                                <li><a href="#">Home Style 5</a></li>
                                            </ul>
                                        </li>
                                     
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Blog</a></li>
                                   </ul> 
                               </nav>
                           </div>
                       </div>

                       <div class="col-xl-2 col-lg-3 col-md-4 d-flex align-items-center justify-content-center">
                           <div class="logo text-center">
                               <a href="index.html"><img src="img/dino.png" height="70px" width="70px" alt=""></a>
                           </div>
                        </div>

                        <div class="col-xl-5 col-lg-4 col-md-8 d-flex align-items-center justify-content-md-end justify-content-center ">
                            <div class="header-right text-right">
                                <ul>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#"><i class="far fa-heart"></i> (0)</a></li>
                                    <li><a href="#">Cart (3)</a>
                                        <ul class="minicart">
                                            <li>
                                                <div class="cart-img">
                                                    <a href="#"><img src="img/cloud.png" alt=""></a>
                                                </div>
                                                <div class="cart-content">
                                                    <h3><a href="#">Water Repellent Parka</a></h3>
                                                    <div class="cart-price">
                                                        <span class="new">$ 229.9</span>
                                                        <span><del>$ 239.9</del></span>
                                                    </div>
                                                </div>
                                                <div class="del-icon">
                                                    <a href=""><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </li>
                                              <li>
                                                <div class="cart-img">
                                                    <a href="#"><img src="img/cloud.png" alt=""></a>
                                                </div>
                                                <div class="cart-content">
                                                    <h3><a href="#">Water Repellent Parka</a></h3>
                                                    <div class="cart-price">
                                                        <span class="new">$ 229.9</span>
                                                        <span><del>$ 239.9</del></span>
                                                    </div>
                                                </div>
                                                <div class="del-icon">
                                                    <a href=""><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </li>
                                              <li>
                                                <div class="cart-img">
                                                    <a href="#"><img src="img/cloud.png" alt=""></a>
                                                </div>
                                                <div class="cart-content">
                                                    <h3><a href="#">Water Repellent Parka</a></h3>
                                                    <div class="cart-price">
                                                        <span class="new">$ 229.9</span>
                                                        <span><del>$ 239.9</del></span>
                                                    </div>
                                                </div>
                                                <div class="del-icon">
                                                    <a href=""><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="total-price">
                                                    <span class="f-left">Total:</span>
                                                    <span class="f-right">$300.0</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkout-link">
                                                    <a href="#">Check out</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="fas fa-search"></i></a>
                                        <div class="search-form">
                                            <form action="#">
                                                <input type="text" placeholder="Search">
                                                <button><i class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                   </div>
               </div>
           </div>
       </header>

        <!--Imagen principal inicio-->
       <div class="page-title-area pt-100 pb-100" style="background-image:url(img/shop/p.jpg); ">
           <div class="container">
               <div class="row">
                   <div class="col-xl-12">
                       <div class="page-title text-center">
                           <h2>ELIGE LA PLANTILLA QUE MÁS TE GUSTE</h2>
                           <nav aria-label="breadcrumb">
                               <ol class="breadcrumb justify-content-center">
                                   <li class="breadcrumb-item ">
                                       Curriculum
                                   </li>
                                   <li class="breadcrumb-item" aria-current="page">
                                       Estudio
                                   </li>
                                   <li class="breadcrumb-item active" aria-current="page">Ciencia</li>
                               </ol>
                           </nav>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!--Imagen principal fin-->

       <div class="shop-area pt-100 pb-100">
           <div class="container">
               <div class="row">
                   <div class="col-xl-3">
                       <div class="shop-sidebar">
                           <h3>Categorías</h3>
                           <ul class="size">
                               <li><a href="#">Divulgación científica</a></li>
                               <li><a href="#">Juega y aprende</a></li>
                               <li><a href="#">Empresas</a></li>
                               <li><a href="#">Curriculum</a></li>
                               <li><a href="#">Personalizado</a></li>
                           </ul>
                       </div>
                        <div class="shop-sidebar">
                           <h3>Buscar por</h3>
                           <ul class="cat">
                               <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">Jquery</a></li>
                                <li><a href="#">Responsive</a></li>
                                <li><a href="#">Booststrap</a></li>
                           </ul>
                       </div>
                   </div>
                   <div class="col-xl-9">
                       <div class="shop-layout ">
                           <div class="shop-layout-bar clearfix">
                               <ul class="nav shop-tab" id="myTab" role="tablist">
                                  <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-th-large"></i></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-th-large"></i></a>
                                  </li>
                                </ul>
                                <div class="filter">
                                    <select name="select" id="select">
                                        <option value="">Default Sorting 1</option>
                                        <option value="">Default Sorting 2</option>
                                        <option value="">Default Sorting 3</option>
                                        <option value="">Default Sorting 4</option>
                                        <option value="">Default Sorting 5</option>
                                    </select>
                                </div>
                           </div>
                        <div class="tab-content mt-40" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                              <div class="row">
                                  <div class="col-xl-4">
                                        <div class="product-wrapper">
                                          <div class="product-img">
                                            <a href="#">
                                                <img src="img/shop/empresa1.jpg" alt="">
                                                <img class="secondary-img" src="img/shop/empresa1.jpg" alt="">
                                            </a>
                                              <div class="product-action">
                                                  <a href="#"><i class="fas fa-eye"></i></a>
                                                  <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                  <a href="#"><i class="far fa-heart"></i></a>
                                              </div>
                                          </div>
                                            <div class="product-content text-center">
                                               <h3><a href="#">Plantilla tecnológica</a></h3>
                                               <div class="rating">
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                               </div>
                                               <div class="price">
                                                   <span>$ 229.9 </span>
                                                   <span><del>$239.9</del></span>
                                               </div>
                                               <div class="cart-btn">
                                                   <a href="#">Add to cart</a>
                                               </div>
                                            </div>
                                        </div>

                                        <div class="product-wrapper">
                                          <div class="product-img">
                                            <a href="#">
                                                <img src="img/shop/empresa2.jpg" alt="">
                                                <img class="secondary-img" src="img/shop/empresa2.jpg" alt="">
                                            </a>
                                              <div class="product-action">
                                                  <a href="#"><i class="fas fa-eye"></i></a>
                                                  <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                  <a href="#"><i class="far fa-heart"></i></a>
                                              </div>
                                          </div>
                                            <div class="product-content text-center">
                                               <h3><a href="#">Plantilla tecnológica</a></h3>
                                               <div class="rating">
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                               </div>
                                               <div class="price">
                                                   <span>$ 229.9 </span>
                                                   <span><del>$239.9</del></span>
                                               </div>
                                               <div class="cart-btn">
                                                   <a href="#">Add to cart</a>
                                               </div>
                                            </div>
                                        </div>
                                  </div>

                                  <div class="col-xl-4">
                                    <div class="product-wrapper">
                                          <div class="product-img">
                                            <a href="#">
                                                <img src="img/shop/empresa3.jpg" alt="">
                                                <img class="secondary-img" src="img/shop/empresa3.jpg" alt="">
                                            </a>
                                              <div class="product-action">
                                                  <a href="#"><i class="fas fa-eye"></i></a>
                                                  <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                  <a href="#"><i class="far fa-heart"></i></a>
                                              </div>
                                          </div>
                                            <div class="product-content text-center">
                                               <h3><a href="#">Plantilla tecnológica</a></h3>
                                               <div class="rating">
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                               </div>
                                               <div class="price">
                                                   <span>$ 229.9 </span>
                                                   <span><del>$239.9</del></span>
                                               </div>
                                               <div class="cart-btn">
                                                   <a href="#">Add to cart</a>
                                               </div>
                                            </div>
                                    </div>

                                    <div class="product-wrapper">
                                          <div class="product-img">
                                            <a href="#">
                                                <img src="img/shop/empresa2.jpg" alt="">
                                                <img class="secondary-img" src="img/shop/empresa1.jpg" alt="">
                                            </a>
                                              <div class="product-action">
                                                  <a href="#"><i class="fas fa-eye"></i></a>
                                                  <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                  <a href="#"><i class="far fa-heart"></i></a>
                                              </div>
                                          </div>
                                            <div class="product-content text-center">
                                               <h3><a href="#">Plantilla tecnológica</a></h3>
                                               <div class="rating">
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                               </div>
                                               <div class="price">
                                                   <span>$ 229.9 </span>
                                                   <span><del>$239.9</del></span>
                                               </div>
                                               <div class="cart-btn">
                                                   <a href="#">Add to cart</a>
                                               </div>
                                            </div>
                                    </div>
                                  </div>

                                  <div class="col-xl-4">
                                    <div class="product-wrapper">
                                          <div class="product-img">
                                            <a href="#">
                                                <img src="img/shop/empresa2.jpg" alt="">
                                                <img class="secondary-img" src="img/shop/empresa2.jpg" alt="">
                                            </a>
                                              <div class="product-action">
                                                  <a href="#"><i class="fas fa-eye"></i></a>
                                                  <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                  <a href="#"><i class="far fa-heart"></i></a>
                                              </div>
                                          </div>
                                            <div class="product-content text-center">
                                               <h3><a href="#">Plantilla tecnológica</a></h3>
                                               <div class="rating">
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                               </div>
                                               <div class="price">
                                                   <span>$ 229.9 </span>
                                                   <span><del>$239.9</del></span>
                                               </div>
                                               <div class="cart-btn">
                                                   <a href="#">Add to cart</a>
                                               </div>
                                            </div>
                                    </div>
                                    
                                    <div class="product-wrapper">
                                          <div class="product-img">
                                            <a href="#">
                                                <img src="img/shop/empresa3.jpg" alt="">
                                                <img class="secondary-img" src="img/shop/empresa3.jpg" alt="">
                                            </a>
                                              <div class="product-action">
                                                  <a href="#"><i class="fas fa-eye"></i></a>
                                                  <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                                  <a href="#"><i class="far fa-heart"></i></a>
                                              </div>
                                          </div>
                                            <div class="product-content text-center">
                                               <h3><a href="#">Plantilla tecnológica</a></h3>
                                               <div class="rating">
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                               </div>
                                               <div class="price">
                                                   <span>$ 229.9 </span>
                                                   <span><del>$239.9</del></span>
                                               </div>
                                               <div class="cart-btn">
                                                   <a href="#">Add to cart</a>
                                               </div>
                                            </div>
                                    </div>
                                  </div>
                              </div>
                          </div>

                          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                              <div class="row mb-30">
                                 <div class="col-xl-4">
                                        <div class="product-wrapper">
                                          <div class="product-img">
                                                <a href="#">
                                                    <img src="http://lorempixel.com/300/300/" alt="">
                                                    <img class="secondary-img" src="http://lorempixel.com/300/300/" alt="">
                                                </a>
                                                <span>Hot</span>
                                          </div>
                                        </div>
                                  </div> 
                                  <div class="col-xl-8">
                                        <div class="product-content shop-list">
                                            <h3><a href="#">Plantilla tecnológica</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quas!</p>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>3 Reacting(s) | Add your reatings(s)</span>
                                            </div>
                                            <div class="price">
                                                <span>$ 229.9 </span>
                                                <span><del>$239.9</del></span>
                                            </div>
                                           <div class="shop-list-action">
                                               <div class="cart-btn">
                                                   <a href="#">Add to cart</a>
                                               </div>
                                               <div class="product-action">
                                                   <a href="#">
                                                       <i class="fas fa-eye"></i>
                                                   </a>
                                                   <a href="#">
                                                       <i class="fas fa-shopping-cart"></i>
                                                   </a>
                                                   <a href="#">
                                                       <i class="far fa-heart"></i>
                                                   </a>
                                               </div>
                                           </div>
                                        </div>
                                        
                                  </div>
                              </div>


                               <div class="row mb-30">
                                 <div class="col-xl-4">
                                        <div class="product-wrapper">
                                          <div class="product-img">
                                                <a href="#">
                                                    <img src="http://lorempixel.com/300/300/" alt="">
                                                    <img class="secondary-img" src="http://lorempixel.com/300/300/" alt="">
                                                </a>
                                                <span>Hot</span>
                                          </div>
                                        </div>
                                  </div> 
                                  <div class="col-xl-8">
                                        <div class="product-content shop-list">
                                            <h3><a href="#">Plantilla tecnológica</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quas!</p>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>3 Reacting(s) | Add your reatings(s)</span>
                                            </div>
                                            <div class="price">
                                                <span>$ 229.9 </span>
                                                <span><del>$239.9</del></span>
                                            </div>
                                           <div class="shop-list-action">
                                               <div class="cart-btn">
                                                   <a href="#">Add to cart</a>
                                               </div>
                                               <div class="product-action">
                                                   <a href="#">
                                                       <i class="fas fa-eye"></i>
                                                   </a>
                                                   <a href="#">
                                                       <i class="fas fa-shopping-cart"></i>
                                                   </a>
                                                   <a href="#">
                                                       <i class="far fa-heart"></i>
                                                   </a>
                                               </div>
                                           </div>
                                        </div>
                                        
                                  </div>
                              </div>


                              <div class="row mb-30">
                                 <div class="col-xl-4">
                                        <div class="product-wrapper">
                                          <div class="product-img">
                                                <a href="#">
                                                    <img src="http://lorempixel.com/300/300/" alt="">
                                                    <img class="secondary-img" src="http://lorempixel.com/300/300/" alt="">
                                                </a>
                                                <span>Hot</span>
                                          </div>
                                        </div>
                                  </div> 
                                  <div class="col-xl-8">
                                        <div class="product-content shop-list">
                                            <h3><a href="#">Plantilla tecnológica</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quas!</p>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>3 Reacting(s) | Add your reatings(s)</span>
                                            </div>
                                            <div class="price">
                                                <span>$ 229.9 </span>
                                                <span><del>$239.9</del></span>
                                            </div>
                                           <div class="shop-list-action">
                                               <div class="cart-btn">
                                                   <a href="#">Add to cart</a>
                                               </div>
                                               <div class="product-action">
                                                   <a href="#">
                                                       <i class="fas fa-eye"></i>
                                                   </a>
                                                   <a href="#">
                                                       <i class="fas fa-shopping-cart"></i>
                                                   </a>
                                                   <a href="#">
                                                       <i class="far fa-heart"></i>
                                                   </a>
                                               </div>
                                           </div>
                                        </div>
                                        
                                  </div>
                              </div>

                              <div class="row mb-30">
                                 <div class="col-xl-4">
                                        <div class="product-wrapper">
                                          <div class="product-img">
                                                <a href="#">
                                                    <img src="http://lorempixel.com/300/300/" alt="">
                                                    <img class="secondary-img" src="http://lorempixel.com/300/300/" alt="">
                                                </a>
                                                <span>Hot</span>
                                          </div>
                                        </div>
                                  </div> 
                                  <div class="col-xl-8">
                                        <div class="product-content shop-list">
                                            <h3><a href="#">Plantilla tecnológica</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quas!</p>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>3 Reacting(s) | Add your reatings(s)</span>
                                            </div>
                                            <div class="price">
                                                <span>$ 229.9 </span>
                                                <span><del>$239.9</del></span>
                                            </div>
                                           <div class="shop-list-action">
                                               <div class="cart-btn">
                                                   <a href="#">Add to cart</a>
                                               </div>
                                               <div class="product-action">
                                                   <a href="#">
                                                       <i class="fas fa-eye"></i>
                                                   </a>
                                                   <a href="#">
                                                       <i class="fas fa-shopping-cart"></i>
                                                   </a>
                                                   <a href="#">
                                                       <i class="far fa-heart"></i>
                                                   </a>
                                               </div>
                                           </div>
                                        </div>
                                        
                                  </div>
                              </div>








                          </div>
                         
                        </div>
                       </div>
                   </div>
               </div>
           </div>
       </div> 




        <!--Footer area start-->
       <footer>
           <div class="footer-area pt-110 pb-80">
               <div class="container">
                   <div class="row">
                       <div class="col-xl-3 col-lg-3 col-md-6 col-mb-30">
                           <div class="footer-widget">
                               <h3>About</h3>
                               <div class="footerl-link">
                                   <li><a href="#">History</a></li>
                                   <li><a href="#">Our studio</a></li>
                                   <li><a href="#">Showrooms</a></li>
                                   <li><a href="#">News & stories</a></li>
                                   <li><a href="#">Delivery & returns</a></li>
                               </div>
                           </div>
                       </div>

                         <div class="col-xl-3 col-lg-3 col-md-6 col-mb-30">
                           <div class="footer-widget">
                               <h3>About</h3>
                               <div class="footerl-link">
                                   <li><a href="#">History</a></li>
                                   <li><a href="#">Our studio</a></li>
                                   <li><a href="#">Showrooms</a></li>
                                   <li><a href="#">News & stories</a></li>
                                   <li><a href="#">Delivery & returns</a></li>
                               </div>
                           </div>
                       </div>


                         <div class="col-xl-3 col-lg-3 col-md-6 col-mb-30">
                           <div class="footer-widget">
                               <h3>About</h3>
                               <div class="footerl-link">
                                   <li><a href="#">History</a></li>
                                   <li><a href="#">Our studio</a></li>
                                   <li><a href="#">Showrooms</a></li>
                                   <li><a href="#">News & stories</a></li>
                                   <li><a href="#">Delivery & returns</a></li>
                               </div>
                           </div>
                       </div>

                        <div class="col-xl-3 col-lg-3 col-md-6 col-mb-30">
                           <div class="footer-widget">
                               <h3>About</h3>
                               <div class="footerl-link">
                                   <li><a href="#">History</a></li>
                                   <li><a href="#">Our studio</a></li>
                                   <li><a href="#">Showrooms</a></li>
                                   <li><a href="#">News & stories</a></li>
                                   <li><a href="#">Delivery & returns</a></li>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="footer-bottom-area">
               <div class="container">
                   <div class="footer-border">
                       <div class="row">
                           <div class="col-xl-6 col-lg-7 col-md-12">
                               <div class="footer-menu  ">
                                   <nav>
                                       <ul>
                                           <li><a href="#">Blog</a></li>
                                           <li><a href="#">FAQs</a></li>
                                           <li><a href="#">Order</a></li>
                                           <li><a href="#">About us</a></li>
                                           <li><a href="#">Tracking</a></li>
                                           <li><a href="#">Contact</a></li>
                                       </ul>
                                   </nav>
                               </div>
                           </div>
                           <div class="col-xl-6 col-lg-5 col-md-12">
                               <div class="footer-icon text-left text-md-center text-lg-right">
                                   <span>Connect with us:</span>
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </footer>
       <!--Footer area end-->














       
        



        <!--JS-->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-3.2.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.meanmenu.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        
    </body>
</html>
